.todo-container {
    width: 500px;
    margin: 50px auto;

}

.todo-title {
    margin-bottom: 20px;
    color: rgb(214, 89, 89);
    font-size: 3rem;
    font-weight: 700;
    font-family: 'JetBrains Mono';
    text-align: center;
}

.todo-new {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-input {
    width: 50%;
    height: 30px;
    border: 1px solid #8a7d7d;
    border-radius: 7px;
}

.btn {
    cursor: pointer;
    width: 15%;
    background-color: #f1e8e8;
    border: 1px solid #8a7d7d;
    border-radius: 10px;
    font-family: 'JetBrains Mono';
}

.todo-data {
    font-size: 1rem;
    border: 1px solid #ccc;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-image {
    text-align: center;
    margin-top: 15px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@media(prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}